<h1>My History</h1>

<table>
  <tr>
    <th>Book</th>
    <th>User</th>
    <th>Check out date</th>
    <th>Check in date</th>
    <th></th>
    <th></th>
  </tr>

  <% @records.each do |record| %>
  <tr>
    <td><%= record.book_id %></td>
    <td><%= record.user_id %></td>
    <td><%= record.check_out_date %></td>
    <td><%= record.check_in_date %></td>
    <td><%= link_to 'Delete', record_path(record), method: :delete, data: { confirm: "Are you sure?"} %> </td>
    <td><%= link_to 'Return the book', edit_record_path(record) %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Book List', books_path %>