<%- model_class = Record -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:book_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:check_out_date) %></th>
      <th><%= model_class.human_attribute_name(:check_in_date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= Book.find(record.book_id).name %></td>
        <td><%= User.find(record.user_id).email %></td>
        <td><%= record.check_out_date %></td>
        <td><%= record.check_in_date %></td>
        <td>
          <% if record.check_in_date != nil %>
            <%= link_to 'Detail', record_path(record) %>
          <% else %> 
            <%= link_to "Return", edit_record_path(record), :class => 'btn btn-mini' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

