<%- model_class = Book -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to "Recommend a New Book",
            new_book_path,
            :class => 'btn btn-primary' %>
<br>
<br>


<table class="table table-striped">
  <thead>
    <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th>ISBN</th>
      <th><%= model_class.human_attribute_name(:recommended_by) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.id, book_path(book) %></td>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td><%= book.recommended_by %></td>
        <td><%= book.status %></td>
        <td>
          <%= link_to "Borrow", {:controller => 'records', :action => 'new', :bk_id => book.id}, :class => 'btn btn-mini btn-primary' %>
          <%= link_to "Detail", book_path(book), :class =>'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

